<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to "Calender",:home_dashboard %></li>
      <li><%= link_to "Users",:admin_users %></li>
      <li><%= link_to "Food Count", :admin_foodcount %></li>
    </ul>
  </div>
</nav>