<center><h2>Food Count for March 2015</h2>
<div id="present_table" class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th  style="text-align:center">Date</th>
        <th  style="text-align:center">Count</th>
      </tr>
    </thead>
    <tbody>
    <% for i in Date.today.beginning_of_month..Date.today.end_of_month %>
      <tr <% if i == Date.today%>
            style="color:red;font-weight:bold;"
          <% end %>
      > 
      <td align="center"><%= i.to_date.to_formatted_s(:rfc822) %></td>
      <% flag =0%>
      <td align="center"><% @fc.each do |f|%>
            <% if f[0]==i%>
              <%= f[1]%>
              <% flag =1%>
              <%break%>
            <% end %>
          <% end %>
          <% if(flag ==0)%>
          0
          <%end%>
      </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
</center>