$(document).on('page:load ready',function() 
{
  $('#calendar').fullCalendar({
    firstDay:1,
    contentHeight: 600,
    weekends: true,
    header:{
      left:   '',
      center: 'title',
      right:  ''
    },
  })
  reload_data()
  
  function reload_data()
  {
    $.ajax(
    {
    url: "/food_counts",
    type: "GET", 
    dataType: "json",
    success: function(response){
      console.log("Sucessfully Get the Data From DataBase")
      load_toggles(response);
        
     }
    });
  }


  function search_date(response,date)
  { 
    
    for( var i in response)
    {
      
      if( response[i].date == date)
        return response[i]

    }
  }


  function get_date(day)
  {

    var d = new Date();
    var date= ""+d.getFullYear().toString()+"-"+("0" + (d.getMonth()+1)).slice(-2)+"-"+("0" + day).slice(-2).toString();
    return date;

  }

  
  function get_db_id(response,date)
  {
    for( var i in response)
    {
      if(response[i].date == date)
        return response[i].id

    }
    
  }

  function update_newly_created_record()
  {
    $.ajax(
    {
    url: "/food_counts",
    type: "GET", 
    dataType: "json",
    success: function(response){
      $('td .fc-day').not(".fc-other-month").each(function(index){
        var toggle_id = ("0" + (index+1)).slice(-2).toString();
        date=get_date(index+1)
        is_saved = get_db_id(response,date)
        if(is_saved)
        {
          $('#' + toggle_id).attr('db_id',is_saved)
        }
      })


    }
    });

  }



  function load_toggles(response)
  {
    $('td .fc-day').not(".fc-other-month").each(function(index){

      var toggle_id = ("0" + (index+1)).slice(-2).toString();
      if ( $(this).hasClass("fc-sun") || $(this).hasClass("fc-sat") )
        return;
      

      $(this).append('<center><br><br><div class="onoffswitch"><input type="checkbox" data-status="unsaved" name="onoffswitch" class="onoffswitch-checkbox" id="toggle_id" checked><label id="label_id" class="onoffswitch-label" for="xyz"><span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label></div></center>');
      document.getElementById("toggle_id").setAttribute("id",toggle_id);
      $('label#label_id').attr("for", toggle_id);
      $('label#label_id').attr("id", toggle_id);


   
      date=get_date(index+1)
      is_saved = get_db_id(response,date)
      if(is_saved)
      {
        $('#' + toggle_id).attr('db_id',is_saved)
        $('#' + toggle_id).attr('status',"saved")
      }

      var record = search_date(response,date)
      if(record)
      {
        
        if(record.selection=='Yes')
        {
          $('#' + toggle_id).prop('checked', false);
          //$('#' + toggle_id).attr('data-status', "saved")
              
        }
        else{
          $('#' + toggle_id).prop('checked', true);
        }
      }

      if( $(this).hasClass('fc-past') )
      {
        $('input').attr("disabled", true);
        
      }
    
            
    })

  }
    
  $(document).on("change", '.onoffswitch-checkbox', function(){

      
      // For Getting Date in Rails Format
      var d = new Date();
      var date= ""+d.getFullYear().toString()+"-"+("0" + (d.getMonth()+1)).slice(-2)+"-"+this.id;
      //For User Toggle Selection
      var selection;
      if(this.checked)
        selection="No"
      else
        selection="Yes"

      //For User ID
      var user_id = $('div#calendar').attr('data-user');
      var input_id = this.id

      var status = $(this).attr('status')
      if(status != "saved"){
        $.ajax({
        type:'POST',
        url:'/food_counts',
        data: $.param({ food_count: {user_id: user_id, date: date,selection: selection}}),
        success: function(result){
          console.log("Data Created");
          update_newly_created_record()
          }
        })
      }
      else{
        var db_id = $(this).attr('db_id')
        var update_url = '/food_counts/'+ db_id      
        
        
        $.ajax({
          type: 'PUT',
          url: update_url,
          data: $.param({ food_count: {user_id: user_id, date: date,selection: selection}}),
          success: function(result){
            console.log("Data Updated");
            }
        })
      }
      

             
      
    })

});

