$(document).on('page:load ready',function() 
{
  var d = new Date();
  var month = d.getMonth();
  var year = d.getFullYear();
  $('#calendar').fullCalendar({
    firstDay:1,
    contentHeight: 600,
    weekends: true,
    header:{
      left:   '',
      center: 'title',
      right:  'prev next'
    },
  })
  reload_data()
  
  
  function reload_data()
  {
    var d=get_date(01,month,year)
    $.ajax(
    {
    url: "/food_counts",
    type: "GET", 
    dataType: "json",
    data:{date:d} ,
    success: function(response){
      console.log("Sucessfully Get the Data From DataBase")
      load_toggles(response);
        
     }
    });
  }

  $('.fc-next-button').on('click', function(){
    month++;
    if (month > 11)
    {
      month = 0
      year++;
      
    }
    reload_data()
    
  });
  $('.fc-prev-button').on('click', function(){
    month--;
    if (month < 0)
    {
      month = 11
      year--;
    }
    reload_data()
    
  });

  function search_date(response,date)
  { 
    
    for( var i in response)
    {
      
      if( response[i].date == date)
        return response[i]

    }
  }

  
  function search_date(response,date)
  { 
    
    for( var i in response)
    {
      
      if( response[i].date == date)
        return response[i]

    }
  }


  function get_date(day,month,year)
  {

    var d = new Date();
    var date= ""+year.toString()+"-"+("0" + (month+1)).slice(-2)+"-"+("0" + day).slice(-2).toString();
    return date;

  }

  
  function get_db_id(response,date)
  {
    for( var i in response)
    {
      if(response[i].date == date)
        return response[i].id

    }
    
  }

  function set_db_id(date)
  {
    var d=get_date(01,month,year)
    $.ajax(
    {
    url: "/food_counts",
    type: "GET", 
    dataType: "json",
    data:{date:d} ,
    success: function(response){
      $('td .fc-day').not(".fc-other-month").each(function(index){
        is_saved = get_db_id(response,date)
        if(is_saved)
        {
          $('#' + date).attr('db_id',is_saved)
          $('#' + date).attr('status',"saved")
        }
      })


    }
    });

  }



  function load_toggles(response)
  {
    $('td .fc-day').not(".fc-other-month").each(function(index){

      var toggle_id = get_date((index+1),month,year);
      if ( $(this).hasClass("fc-sun") || $(this).hasClass("fc-sat") )
        return;
      

      $(this).append('<center><br><br><div class="onoffswitch"><input type="checkbox" status="unsaved" name="onoffswitch" class="onoffswitch-checkbox" id="toggle_id" checked><label id="label_id" class="onoffswitch-label" for="xyz"><span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label></div></center>');
      document.getElementById("toggle_id").setAttribute("id",toggle_id);
      $('label#label_id').attr("for", toggle_id);
      $('label#label_id').attr("id", toggle_id);


   
      date=get_date(index+1,month,year)
      is_saved = get_db_id(response,date)
      if(is_saved)
      {
        $('#' + toggle_id).attr('db_id',is_saved)
        $('#' + toggle_id).attr('status',"saved")
      }

      var record = search_date(response,date)
      if(record)
      {
        
        if(record.selection=='Yes')
        {
          $('#' + toggle_id).prop('checked', false);
          //$('#' + toggle_id).attr('data-status', "saved")

        }
        else{
          $('#' + toggle_id).prop('checked', true);
        }
      }

      if( $(this).hasClass('fc-past') )
      {
        $('input').attr("disabled", true);
        
      }
    
            
    })

  }
  
  $(document).on("click",'.onoffswitch-checkbox', function(){

      // For Getting Date in Rails Format
      var d = new Date();
      var date= ""+year.toString()+"-"+("0" + (month+1)).slice(-2)+"-"+this.id.slice(8);
      console.log("Hello "+date);
      //For User Toggle Selection
      var selection;
      if(this.checked)
        selection="No"
      else
        selection="Yes"
      

      //For User ID
      var user_id = $('div#calendar').attr('data-user');
      var input_id = this.id
      
      // var d = Date(Date.parse(date))
      // var firstDay = new Date(d.getFullYear(), d.getMonth(), 1);
      // var lastDay = new Date(d.getFullYear(), d.getMonth() + 1, 0); 
      // console.log(d);

     
      var status = $(this).attr('status')
      if(status != "saved"){
        $.ajax({
        type:'POST',
        url:'/food_counts',
        data: $.param({ food_count: {user_id: user_id, date: date,selection: selection}}),
        ataType:'text',
        success: function(result){
          console.log(result);
          set_db_id(date)
          }
        })
        return;
      }
      else{
        var db_id = $(this).attr('db_id')
        var update_url = '/food_counts/'+ db_id      
        $.ajax({
          type: 'PUT',
          url: update_url,
          dataType:'text',
          data: $.param({ food_count: {user_id: user_id, date: date,selection: selection}}),
          success: function(result){
            console.log("Data Updated");
            
            },
          error:function(e){
            console.log(e)
            
          }
        })
        return;
      }
      
            
      
    })
});

