$(document).on('page:load ready',function() 
{
  var d = new Date();
  var month = d.getMonth();
  var year = d.getFullYear();
  $('#calendar').fullCalendar({
    firstDay:1,
    contentHeight: 600,
    weekends: true,
    header:{
      left:   '',
      center: 'title',
      right:  'prev next'
    },
  })
  reload_data();
  
  
  function reload_data()
  {
    var d=get_date(01,month,year);
    $.ajax(
    {
    url: "/food_counts",
    type: "GET", 
    dataType: "json",
    data:{date:d} ,
    success: function(response){
      console.log("Sucessfully Get the Data From DataBase")
      load_toggles(response);
        
     }
    });
  }

  $('.fc-next-button').on('click', function(){
    month++;
    if (month > 11)
    {
      month = 0;
      year++;
      
    }
    reload_data();
    
  });
  $('.fc-prev-button').on('click', function(){
    month--;
    if (month < 0)
    {
      month = 11;
      year--;
    }
    reload_data();
    
  });

  
  function search_date(response,date)
  { 
    
    for( var i in response)
    {
      
      if( response[i].date == date)
        return response[i];

    }
  }


  function get_date(day,month,year)
  {

    var d = new Date();
    var date= ""+year.toString()+"-"+("0" + (month+1)).slice(-2)+"-"+("0" + day).slice(-2).toString();
    return date;

  }

  
  function get_db_id(response,date)
  {
    for( var i in response)
    {
      if(response[i].date == date)
        return response[i].id;

    }
    
  }

  function set_db_id(date,e)
  {
    var d=get_date(01,month,year)
    $.ajax(
    {
    url: "/food_counts",
    type: "GET", 
    dataType: "json",
    data:{date:d} ,
    success: function(response){
      is_saved = get_db_id(response,date)
      if(is_saved)
      {
        $('#' + date).attr('db_id',is_saved)
        $('#' + date).attr('status',"saved")
      }
      console.log("DB ID Updated");
      $(e).attr("disabled",false);
    }
    });

  }



  function load_toggles(response)
  {
    $('td .fc-day').not(".fc-other-month").each(function(index){

      var toggle_id = get_date((index+1),month,year);
      if ( $(this).hasClass("fc-sun") || $(this).hasClass("fc-sat") )
        return;
      

      $(this).append('<center><br><br><div class="onoffswitch"><input type="checkbox" status="unsaved" name="onoffswitch" class="onoffswitch-checkbox" id="toggle_id" checked><label id="label_id" class="onoffswitch-label" for="xyz"><span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label></div></center>');
      document.getElementById("toggle_id").setAttribute("id",toggle_id);
      $('label#label_id').attr("for", toggle_id);
      $('label#label_id').attr("id", toggle_id);

      date=get_date(index+1,month,year)
      is_saved = get_db_id(response,date)
      if(is_saved)
      {
        $('#' + toggle_id).attr('db_id',is_saved);
        $('#' + toggle_id).attr('status',"saved");
      }

      var record = search_date(response,date);
      if(record)
      {
        
        if(record.selection=='Yes')
        {
          $('#' + toggle_id).prop('checked', false);

        }
        else if(record.selection=='No'){
          $('#' + toggle_id).prop('checked', true);
        }
      }

      if( $(this).hasClass('fc-past') )
      {
        $('input').attr("disabled", true);
        
      }
      if( $(this).hasClass('fc-past') )
      {
       $('.fc-past').not('.fc-sun,.fc-sat,.fc-other-month,.fc-future ').css("background-color", "#D3D3D3");     
      }
    
            
    })

  }
  
  $(document).on("change",'.onoffswitch-checkbox ', function(){

      

      // For Getting Date in Rails Format
      var date= this.id;
      var date_month=date.slice(5,7);
      var current_month=("0"+(month+1).toString()).slice(-2);
      //For User Toggle Selection
      var selection;
      if(this.checked)
        selection="No";
      else
        selection="Yes";
      

      //For User ID
      var user_id = $('div#calendar').attr('data-user');

      if (current_month == date_month) {
        var status = $(this).attr('status')
        if(status != "saved")
          create_ajax_call(user_id,date,selection,this);   

        else{
          var db_id = $(this).attr('db_id');
          var update_url = '/food_counts/'+ db_id;    
          $.ajax({
            type: 'PUT',
            url: update_url,
            dataType:'text',
            data: $.param({ food_count: {user_id: user_id, date: date,selection: selection}}),
            success: function(result){
              console.log("Data Updated");
              
              },
            error:function(e){
              console.log(e)
              
            }
          });
          
        }
      }
            
      
    })

  function create_ajax_call(user_id, date,selection,obj)
  {
    $.ajax({
          type:'POST',
          url:'/food_counts',
          data: $.param({ food_count: {user_id: user_id, date: date,selection: selection}}),
          ataType:'text',
          success: function(result){
            console.log(result);
            $(obj).attr("disabled",true);
            set_db_id(date,obj);
            }
          });
  }
});

