// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user_table{
  margin-top : 50px;
  margin-left : 100px;
  margin-right : 100px;
  border: solid 3px black;
}

#present_table, #next_table{
  margin-top : 50px;
  border: solid 3px black;
  width:50%;
}

#present_table td + td { border-left:2px solid black; }
#next_table td + td { border-left:2px solid black; }